# Twilio
TWILIO_ACCOUNT_SID=your_account_sid_here
TWILIO_AUTH_TOKEN=your_auth_token_here
TWILIO_PHONE=+1415XXXXXXX

# Claude API
ANTHROPIC_API_KEY=sk-ant-xxxxx

# Firebase
GOOGLE_APPLICATION_CREDENTIALS=./facturas-la-delia-credentials.json

# APP
ENVIRONMENT=development
DEBUG=true
